<h1 class="font2">About Us</h1>

    <p class= "font">I scream, You scream, We all scream for Ice Cream!<br> 
    I wanted to create a place where people of all walks of life<br>
    can share their own adventures finding the frozen treats known<br>
    as ice craem. Come and take a look around and maybe share your<br>
    adventures that involved ice cream, Want to share the ice cream <br>
    journey with someone? Email me and maybe we can go on an adventure.</p> <br>
<h3 class="font2">Fun Facts!</h3>
    <p>History of Ice cream via <a href= url"https://en.wikipedia.org/wiki/Ice_cream">Wikipedia</a></p>
<h3 class="font2">Contact Us</h3>
    <a href= url"captianle@gmail.com">Email me!</a>
    