<h1 class="font2">About Us</h1>

    <p class= "font">We all scream. We all scream for Ice Cream!<br> 
    I wanted to share my love of all the delicous<br>
    frozen treats known as ice craem. Come and take<br> 
    a look around and maybe share your adventures that<br>
    involved ice cream, Want to share the ice cream <br>
    journey with someone? Email me and maybe we can<br>
    go on an adventure.</p>
<h3 class="font2">Contact Us</h3>
    <a href= url"captianle@gmail.com">Email me!</a>
    