/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 body {
    padding-top: 80px;
    background-image: url("http://i.imgur.com/jK5gBQb.jpg");
    background-attachment: fixed;            
 }

.navbar {
    display: flex;
    align-items: center;
    background-color: pink;       
    /*justify-content: space-between*/
}

#logger {
    display: flex;
    justify-content: flex-end;
    color: white;
    text-align: right;
    
    /*align-content: center*/
}

.swirls {
    text-align: center;
    font-family: 'Londrina Sketch', cursive;
    font-weight: bold;
}

#title-world {
    font-size: 40px;
}

.general {
    text-align: center;
}

.font {
    font-family: 'Marvel', sans-serif;
    font-size: 20px;
}

.font2{
    font-family: 'Londrina Sketch', sans-serif;
}

linker:link, linker:active{
    font: black;
}

.bold {
    font-weight: bold;
}

.bckclr {
    padding: 20px 0px;
}

